In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.model_selection import train_test_split

import pandas as pd
data = pd.read_csv("data\\flight_data_processed.csv")

data["date"] = pd.to_datetime(data["date"])
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3477 non-null   datetime64[ns]
 1   latitude             3477 non-null   float64
 2   longitude            3477 non-null   float64
 3   gps_altitude_m       3477 non-null   int64
 4   pressure_altitude_m  3477 non-null   int64
 5   elapsed_time         3477 non-null   float64
 6   climb_rate_m/s       3477 non-null   float64
 7   speed_km/s           3477 non-null   float64
 8   bearing              3477 non-null   int64
 9   glide_ratio          3477 non-null   float64
 10  temp                 3477 non-null   float64
 11  pressure             3477 non-null   float64
 12  humidity             3477 non-null   float64
 13  dew_point            3477 non-null   float64
 14  wind_speed           3477 non-null   float64
 15  wind_deg             3477 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(3)
memory usage: 434.8 KB

,date,latitude,longitude,gps_altitude_m,pressure_altitude_m,elapsed_time,climb_rate_m/s,speed_km/s,bearing,glide_ratio,temp,pressure,humidity,dew_point,wind_speed,wind_deg
0,2013-10-26 08:47:10,36.538667,29.168733,1635,1695,10.0,0.0,0.000000,242,0.000000,13.48,1018.0,31.0,-2.92,1.0,290.0
1,2013-10-26 08:47:20,36.538400,29.167917,1625,1684,20.0,-1.0,28.400413,247,7.889004,13.48,1018.0,31.0,-2.92,1.0,290.0
2,2013-10-26 08:47:30,36.538267,29.166950,1617,1676,30.0,-0.8,31.614276,260,10.977179,13.48,1018.0,31.0,-2.92,1.0,290.0
3,2013-10-26 08:47:40,36.538683,29.166100,1618,1676,40.0,0.1,32.060870,301,89.057972,13.48,1018.0,31.0,-2.92,1.0,290.0
4,2013-10-26 08:47:50,36.539283,29.165633,1627,1686,50.0,0.9,28.299159,327,8.734308,13.48,1018.0,31.0,-2.92,1.0,290.0

In [12]:
# Prepare features
features = data.drop(['date'], axis=1)  # adjust columns as needed
features = (features - features.mean()) / features.std()  # normalize

# Split data
X_train, X_test = train_test_split(features, test_size=0.2, shuffle=False)  # keep time order

# Adjust model
model = Sequential([
    Dense(64, activation='relu', input_shape=(features.shape[1],)),
    Dropout(0.3),  # reduced dropout
    Dense(32, activation='relu'),
    Dense(1)
])

e:\Wolf\Belgeler\Projelerim\Paragliding_Flight_Analyses\.venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)