In [79]:
import pandas as pd
import matplotlib.pyplot as plt

In [80]:
file_name = "2024-05-19 10_05_00.igc"
# file_name = "2018-07-16 09_13_56.igc"

with open(file_name, 'r') as file:
    lines = file.readlines()

flight_data = [line for line in lines if line.startswith('B')]

records = []
for record in flight_data:
    time = record[1:7]
    latitude = record[7:15]
    longitude = record[15:24]
    altitude = record[25:30]
    records.append([time, latitude, longitude, altitude])

df = pd.DataFrame(records, columns=['Time', 'Latitude', 'Longitude', 'Altitude'])
df.head()

     Time  Latitude  Longitude Altitude
0  100500  4001872N  03219698E    01090
1  100501  4001872N  03219698E    01090
2  100502  4001872N  03219698E    01090
3  100503  4001872N  03219698E    01090
4  100504  4001872N  03219698E    01090

In [81]:
def convert_to_decimal(value):
    if len(value) == 8:
        degrees = value[:2]
        minutes = float(value[2:5]) + float(value[5:7]) / 100
    else:
        degrees = value[:3]
        minutes = float(value[3:5]) + float(value[5:8]) / 1000
    return float(degrees) + float(minutes) / 60

def convert_altitude(value):
    return float(value) * 3.28084

def convert_time(value):
    hours = value[:2]
    minutes = value[2:4]
    seconds = value[4:]
    return f"{hours}:{minutes}:{seconds}"

df['Latitude'] = df['Latitude'].apply(convert_to_decimal)
df['Longitude'] = df['Longitude'].apply(convert_to_decimal)
# df['Altitude'] = df['Altitude'].apply(convert_altitude)
# df['Time'] = df['Time'].apply(convert_time)

df.head()

     Time  Latitude  Longitude Altitude
0  100500    40.312    32.3283    01090
1  100501    40.312    32.3283    01090
2  100502    40.312    32.3283    01090
3  100503    40.312    32.3283    01090
4  100504    40.312    32.3283    01090

In [82]:
# plt.figure(figsize=(10, 5))
# plt.plot(df['Time'], df['Altitude'])
# plt.xlabel('Time')
# plt.ylabel('Altitude (m)')
# plt.title('Flight Altitude over Time')
# plt.grid(True)
# plt.show()