In [1]:
import pandas as pd
import os
import db_connection as db

In [5]:
# df = db.read_csv('data.csv')
df = db.read_db("weather_data")
df.head()

,lat,lon,datetime,dt,temp,pressure,humidity,dew_point,wind_speed,wind_deg
0,40.0,32.3,2024-08-03 09:00:00+00:00,1722675600,30.71,1005,27,9.58,2.31,260
1,40.0,32.3,2024-08-03 10:00:00+00:00,1722679200,33.41,1005,20,7.41,3.29,264
2,36.5,29.2,2013-10-26 08:00:00+00:00,1382774400,16.75,1018,35,1.22,0.50,280
3,36.5,29.2,2013-10-26 09:00:00+00:00,1382778000,17.11,1018,31,-0.12,1.00,290
4,36.5,29.1,2013-10-26 09:00:00+00:00,1382778000,23.51,1018,31,5.42,1.00,290